/* *{
    margin: 0;
    padding: 0;
} */

body{
    background-color: lightgray;
}

h1{
    border: 1px solid #000;
    text-align: center;
    padding: 10px; /*hacia los 4 lados genera un espacio*/
    /* padding left, bottom,top, right */
    /* padding: 10px 10px 10px 10px; top-right-bottom-left */
}

a{
    text-decoration: none;
}

a:hover{ /*evento hover cambia de color al pasar el mouse */
    color: red;
    background-color: black;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 3px solid #000;
    padding: 20px;
    text-align: justify;
}

p{
    font-style: italic; /*Cursiva*/
    font-weight: bold; /*Letra Negrita*/
}

#text-red{
    color: red;
}

.box{
    width: 200px;
    height: 200px;
    background-color: lightskyblue;
    border: 2px solid #000;
    margin: 20px;
    float: left;
}

/* .header{
    background-color: red;
    height: 100px;
    width: 90%;
} */